#main-header {
    height: 60px;
    background-color: white;
}

#student-section {
    background-color: rgb(27,114,232);
}

#sidebar {
    background-image: url(./img/sidebar-bg.png);
    background-size: cover;
    background-repeat: no-repeat;
    min-height: calc(100vh - 60px);
    background-color: rgb(5,30,52);
}

#main-search-bar {
    background-color: rgb(229,229,229);
    color: darkgray;
}

.bell-color {
    color: rgb(255,143,0);
}

#big-plus {
    font-size: 30px;
}

.badge-color {
    background-color: rgb(22,91,186);
}

.avatar-img {
    max-width: 25px;
    max-height: 25px;
}

#main-container {
    margin-top: 60px;
    min-height: calc(100vh - 60px);
}

/*Hover Sidebar*/
.navbar-top li {
    cursor: pointer;
}

.navbar-bottom > * {
    cursor: pointer;
}

.navbar-top li:hover {
    background-color: grey;
}

.navbar-bottom:hover {
    background-color: grey;
}

/*Faq Active*/
.faq-active-style {
    cursor: pointer;
}

.faq-active-display {
    display: none;
}

.faq-active-style:active{
    color: blue;
    border: 2px solid blue;
    background-color: lightcyan;
}

.faq-active-style:active .faq-active-display{
    display: block;
}